* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    background-color: #07575B;
    height: auto;
    margin: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    
}
div {
    display: flex;
    justify-content:right;
    flex-direction: column ;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: end;
    align-items:center;
    
}
li {
    background-color: #66A5AD;
    padding: 20px;
    margin: 5px;
    color: aliceblue;
    border: solid #C4DFE6;
    text-align: left;
    flex: 0 0 auto;
    
}
